<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mangoplay.yeezymusic">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mangoplay.yeezymusic.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name="com.mangoplay.yeezymusic.ui.playlist.CreatePlaylistActivity" />
        <activity android:name="com.mangoplay.yeezymusic.ui.settings.SettingsActivity" />
        <activity android:name="com.mangoplay.yeezymusic.ui.settings.InformationActivity"/>
        <activity android:name="com.mangoplay.yeezymusic.ui.settings.TermsAndConditions"/>
        <activity android:name="com.mangoplay.yeezymusic.ui.settings.PrivacyPolicy"/>
        <activity android:name="com.mangoplay.yeezymusic.ui.AuthenticationActiviity"/>
        <activity android:name="com.mangoplay.yeezymusic.ui.shorts.ShortsActivity"/>
        <activity android:name="com.mangoplay.yeezymusic.ui.tinder.TinderActivity"/>

        <activity
            android:name="com.mangoplay.yeezymusic.ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9072664626495984~8104363605"/>

    </application>

</manifest>